<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column" id="feature">
			<div class="jumbotron">
			    <h1>
			      {{$ctrl.picture.id}}
			    </h1>
			</div>
			<div class="col-md-4 clearfix" id="main">
				<img class="picture-item" ng-repeat="detail in $ctrl.picture.details" ng-src="{{detail.img}}" ng-class="{selected: detail.img==$ctrl.mainImgUrl}" alt="">
			</div>
			<div class="col-md-8" id="list">
				<div class="col-xs-6 col-md-3 clearfix" ng-repeat="detail in $ctrl.picture.details">
				    <img ng-src="{{detail.img}}" alt="..." ng-click="$ctrl.setImgUrl(detail.index)">
				</div>
			
				<div id="des">
					<h4>{{$ctrl.mainTitle}}</h4>
					{{$ctrl.mainDes}}
				</div>			
			
			</div>
		</div>
	</div>
</div>